@import "../../../assets/css/colors";
@import "../../../assets/css/breakpoints";

.Header {
  box-shadow: 3px 5px 12px rgba(10, 67, 68, 0.1);
  min-height: 4.5rem;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  color: $base-green;
  font-weight: bold;
  font-size: 0.85rem;
  grid-area: header;
  position: fixed;
  z-index: 19;
  width: 100%;
  background-color: #fff;

  .Hours {
    font-weight: normal;
    color: initial;
    display: none;

    @include respond(tablet) {
      display: block;
    }

    @include respond(desktop) {
      padding-left: 10px;
    }
  }

  .NavButton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 25px;
    height: 22px;
    position: relative;
    padding: 10px;

    span {
      height: 3px;
      background-color: $base-green;
      width: 100%;
      display: block;
      position: absolute;
      border-radius: 100px;
      left: 0;

      &:first-child {
        top: 0;
      }

      &:nth-child(2) {
        top: 9px;
        width: 80%;
      }

      &:last-child {
        bottom: 0;
      }
    }

    @include respond(tablet) {
      display: none;
    }
  }

  @include respond(tablet) {
    position: static;
  }
}
