@import "../../../assets/css/colors";
@import "../../../assets/css/font-sizes";

.NavItem {
  padding: 16px 0 16px 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 12% 1fr;
  align-items: center;
  transition: 250ms ease-in-out;
  color: $base-green;
  font-weight: bold;

  img {
    align-self: center;
    justify-self: center;
  }

  &:hover {
    background-color: $navigation-hover;
  }

  &:focus {
    background-color: $navigation-focus;
  }

  @media screen and (min-width: 768px) {
    padding-left: 45px;
    font-size: $body * 1.1;
  }
}

.Active {
  background-color: $navigation-focus;
  border-right: 4px solid $base-green;
}