@use "sass:math";
@import "../../../../assets/css/breakpoints";
@import "../../../../assets/css/colors";
@import "../../../../assets/css/font-sizes";

.Error500Wrapper {
  min-height: calc(100vh);
  width: 100%;
  display: grid;
  align-content: center;
  justify-items: center;
  text-align: center;
  padding: 0 1rem .75rem;
  background: radial-gradient(50% 87.9% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(0, 163, 143, 0.03) 100%);

  .SuperKash500 {
    background-image: url("../../assets/images/superkash_500.svg");
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    width: 235px;
    height: 160px;
    margin-bottom: 1rem;
  }

  .Error500Desc {
    display: grid;
    justify-items: center;

    h1 {
      font-weight: 900;
      font-size: math.div($title, 0.8);
      color: $base-green;
      text-transform: uppercase;
      display: flex;
      align-items: baseline;
      justify-content: center;
    }

    h2 {
      font-weight: 700;
      font-size: math.div($title, 2.962);
      color: $base-green;
    }

    p {
      font-size: $body * 1.02;
      font-weight: 400;
      margin: 0.6rem 0;
      color: $base-green;

      span {
        display: inline-block;
      }
    }

    a {
      background-color: $button-main;
      color: $text-body;
      font-family: "Lato", sans-serif;
      font-weight: 700;
      font-size: math.div($button, 1.428);
      padding: 10px;
      border-radius: 10px;
      width: 100%;
      max-width: 10rem;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
      margin-top: 1rem;

      transition: all 0.4s;

      &:hover,
      &:focus {
        background-color: $button-hover;
      }
    }
  }


  @media screen and (max-width: 300px) {
    .SuperKash500 {
      width: 190px;
    }

    .Error500Desc {
      p {
        font-size: $body;
      }

      a {
        font-size: math.div($button, 1.5);
      }
    }
  }

  @include respond(tablet) {
    padding: 0 0 0 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    .SuperKash500 {
      margin: 0;
      background-image: url("../../assets/images/500_vector.svg");
      width: 100%;
      height: 100%;

      grid-column: 2 / span 1;
      grid-row: 1 / span 2;
      align-self: flex-end;
      justify-self: flex-end;
    }

    .Error500Desc {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
      align-self: center;
      justify-items: flex-start;

      h1 {
        font-size: math.div($title, 0.761);
      }

      h2 {
        font-size: math.div($title, 2.666);
      }

      p {
        text-align: initial;
        font-size: $body * 1.1;
      }
    }
  }

  @media screen and (min-width: 1020px) {
    .SuperKash500 {
      background-size: 78%;
      background-position: bottom right;
    }

    .Error500Desc {
      justify-self: flex-start;

      a {
        max-width: 19rem;

        &:hover {
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35);
        }
      }
    }
  }

  @include respond(desktop) {
    grid-template-columns: 1fr 1.2fr;

    .SuperKash500 {
      background-size: 100%;
    }

    .Error500Desc {
      margin-top: 19%;
      padding-left: 13.9%;
      grid-column: 1 / span 1;
      justify-self: flex-end;

      h1 {
        font-size: math.div($title, 0.4);
        margin-bottom: -2.25rem;
      }

      h2 {
        font-size: math.div($title, 2.352);
      }

      p {
        font-size: $body * 1.25;
      }

      a {
        font-size: math.div($button, 1.5);
      }
    }
  }

  @include respond(ldesktop) {
    .SuperKash500 {
      background-size: 87%;
    }

    .Error500Desc {
      margin-top: 6rem;

      h1 {
        font-size: math.div($title, 0.3478);
      }

      h2 {
        font-size: math.div($title, 2);
      }

      p {
        font-size: $body * 1.4;
      }

      a {
        font-size: math.div($button, 1.428);
      }
    }
  }
}