@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes enter-leave {
	0% {
		bottom: -100%;
	}
	10% {
		bottom: 1px;
	}
	90% {
		bottom: 1px;
	}
	100% {
		bottom: -100%;
	}
}

@media screen and (min-width: 768px) {
	@keyframes enter-leave {
		0% {
			bottom: -100%;
		}
		10% {
			bottom: 25px;
		}
		90% {
			bottom: 25px;
		}
		100% {
			bottom: -100%;
		}
	}
}
