.ProfilePhoto {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #e1f2ec;
	overflow: hidden;

	img {
		width: 100%;
		object-fit: cover;
	}
}

.ProfileInfo {
	font-weight: normal;
	color: #222;
}