@import "./keyframes.module";

.LoadingOverlay {
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
	width: 100%;
	height: 100vh;
	z-index: 100;
	position: fixed;
	animation: fade-in 400ms ease-in-out;
	left: 0;
	top: 0;
	display: grid;
	justify-items: center;
	align-items: center;

	p {
		font-size: 1.1rem;
		font-weight: 800;
		color: #fff;
	}
}
