@import "../../../assets/css/colors";
@import "../../../assets/css/breakpoints";

.StatusBadge {
	color: $base-text;
	font-weight: bold;
	padding: 2.5px 5px;
	border-width: 1.5px;
	border-style: solid;
	font-size: 0.8rem;
	border-radius: 4px;
	text-transform: capitalize;
	max-width: 7rem;
	text-align: center;

	@include respond(desktop) {
		font-size: 0.9rem;
	}
}
