@use "sass:math";
@import "../../../../assets/css/colors";
@import "../../../../assets/css/breakpoints";
@import "../../../../assets/css/font-sizes";

p.Completed {
  color: $base-green  !important;
  font-weight: bold;
}

img.NoReward {
  filter: grayscale(1);
  opacity: 0.7;
}

.TableCard {
  max-width: 1280px;
  margin: 15px auto;
  padding: 10px 5px;

  @include respond(desktop) {
    padding: 30px 55px;
  }
}

.AffiliatesTotalCard {
  width: 8.5rem;
  height: 6.5rem;
  margin: 12px;
  padding-left: 7px;
  padding-right: 7px;
  font-weight: bold;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  h4 {
    font-size: math.div($title, 2);
  }

  p {
    position: relative;
    top: -5px;
  }

  &:nth-of-type(3) {
    color: $base-green;
  }

  &:last-of-type {
    color: #eab726;
  }

  @include respond(tablet) {
    width: 8.6rem;
  }
}