@import "../../../../assets/css/colors";
@import "../../../../assets/css/breakpoints";

.Step2 img {
  width: 190px;
  max-width: initial;

  @include respond(desktop) {
    width: 280px;
  }
}

.CodeInfoCard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto 0;
  color: #fff;
  max-width: 63rem;
  background-color: transparent !important;
  box-shadow: none !important;

  b {
    color: #f2c94c !important;
  }

  > p {
    max-width: 35rem;
    margin-left: 45px;
  }

  @include respond(tablet) {
    padding: 25px;
    background-color: #20a2a5 !important;
  }

  @include respond(desktop) {
    padding: 40px;
    margin-top: 30px;

    p {
      font-size: 1rem;
    }
  }
}

.CodeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  button {
    text-decoration: underline;
    color: $base-green;
    margin-top: 5px;
    font-size: 0.95rem;
  }

  @include respond(tablet) {
    button {
      color: #fff;
    }
  }

  @include respond(desktop) {
    align-items: flex-start;
  }
}
