@use "sass:math";
@import "../../../../assets/css/colors";
@import "../../../../assets/css/breakpoints";
@import "../../../../assets/css/font-sizes";

.AffiliatesSection {
  max-width: 1536px;
  margin: auto;

  h1 {
    color: $base-green;
    font-weight: bold;
    font-size: math.div($title, 2.352);
    text-align: center;
  }

  h2 {
    font-weight: bold;
    font-size: math.div($title, 2.666);
  }

  h3 {
    font-weight: bold;
    text-align: center;
  }

  b {
    color: $base-green;
  }

  a {
    color: $base-green;
    text-decoration: underline;
  }

  @include respond(tablet) {
    margin-top: 25px;

    h1 {
      font-size: math.div($title, 2);
    }

    h3 {
      font-size: math.div($title, 3.333);
    }
  }

  @include respond(desktop) {
    h1 {
      font-size: math.div($title, 1.212);
    }

    h3 {
      font-size: math.div($title, 3.076);
    }

    p {
      font-size: $body;
    }
  }
}