@import "../../../assets/css/colors";
@import "../../../assets/css/breakpoints";

.WelcomeWrapper {
  display: grid;
  place-items: center;
  max-width: 1366px;
  margin: 0 auto;
}

.WelcomeCard {
  background-color: $light-yellow;
  background-image: url(../images/welcome-mobile.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 70%;
  border-radius: 20px;
  padding: 20px 30px;
  width: 100%;
  min-height: 16rem;
  margin: 0 auto;
  display: grid;
  align-content: center;

  h1 {
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.1rem;
    margin-top: 5px;
  }

  @include respond(tablet) {
    min-height: 23rem;
    margin-bottom: 30px;
    padding: 20px 50px;
    background-image: url(../images/welcome.svg);

    h1 {
      margin-top: 0;
      font-size: 1.6rem;
    }

    h3 {
      font-size: 1.2rem;
    }
  }

  @include respond(desktop) {
    h1 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.4rem;
    }
  }
}

.OptionCard {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  background-image: url(../images/card-bg.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-y: 100%;
  padding: 20px;
  min-height: 15rem;
  width: 100%;
  margin: 15px 0;

  &:last-of-type {
    background-image: url(../images/card-bg-right.svg);
    background-position-x: 100.5%;
    background-position-y: 100%;
  }

  h4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: $base-green;
  }

  p {
    font-size: 0.9rem;
    margin: 10px 0;
  }

  img {
    position: relative;
    top: calc(16.5rem - 15.25rem);
    left: 1rem;
    width: 8rem;
  }

  a {
    margin-top: 10px;
    font-size: 0.9rem;
    display: inline-block;
    padding: 10px 20px;
    width: auto;
  }

  @include respond(tablet) {
    min-height: 19rem;
    background-position-y: 110%;

    h4 {
      font-size: 1.4rem;
    }

    img {
      width: 14rem;
    }

    p {
      font-size: 1rem;
    }
  }

  @media screen and (min-width: 1000px) {
    &:first-of-type {
      margin-right: 15px;
    }

    // WIDTH BETWEEN 1000px AND 1180px
    @media screen and (max-width: 1180px) {
      &:last-of-type {
        padding-left: 3.5rem;
  
        img {
          left: -1rem;
        }
      }

      @media screen and (max-width: 1024px) {
        &:last-of-type {
          img {
            left: -3rem;
          }
        }
      }

    }
  }

  @include respond(desktop) {
    a {
      font-size: 1rem;
    }

    img {
      width: 18rem;
    }
  }
}
