@use "sass:math";
@import "../../../../../assets/css/colors";
@import "../../../../../assets/css/font-sizes";

.CameraWrapper {
  padding: 0.2rem;
  text-align: center;

  h2 {
    color: $base-green;
    font-size: math.div($title, 3.2);
  }
}