@use "sass:math";
@import "../../../../../assets/css/colors";
@import "../../../../../assets/css/breakpoints";
@import "../../../../../assets/css/font-sizes";

.UploadDocWrapper {
  text-align: center;
  padding: 0.2rem 0.5rem;

  h3 {
    color: $base-green;
    font-weight: bold;
    text-align: left;
  }

  ul {
    text-align: left;
    list-style-image: url(../../../../../assets/images/icons/check.svg);
    padding-left: 0.8rem;
    margin-bottom: 2rem;

    li {
      font-size: math.div($body, 1.176);
      margin: 0.5rem 0;
    }
  }

  button p {
    font-size: math.div($button, 1.666);
  }
}

.PassportButton {
  width: 100%;
  height: 135px;
  background-color: #eee;
  border: 1px solid #ccc;
  display: flex !important;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  object-fit: contain;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.PhotoButtonSquare {
  cursor: pointer;
  width: 140px;
  height: 115px;
  background-color: #eee;
  border: 1px solid #ccc;
  display: flex !important;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  input[type="file"] {
    opacity: 0;
    height: 0;
    width: 0;
  }

  @include respond(tablet) {
    width: 200px;
  }
}