@import '../../assets/css/colors';

.Sidebar {
  background-color: $bg-gray;
  position: fixed;
  max-height: 100vh;
  height: 100%;
  transform: translateX(-100%);
  width: 72%;
  max-width: 16rem;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  grid-area: sidebar;
  z-index: 999;
  transition: 400ms ease-out;
  overflow-y: auto;

  @media screen and (min-width: 768px) {
    transform: translateX(0);
    z-index: 0;
  }

  @media screen and (min-width: 996px) {
    max-width: 19rem;
  }
}

.Open {
  transform: translateX(0);
}
