@use "sass:math";
@import "../../../../assets/css/colors";
@import "../../../../assets/css/font-sizes";

.VerifyIdentityWrapper {
  margin-top: 2rem;
  text-align: center;
  position: relative;

  h1 {
    font-size: math.div($title, 2.666);
    font-weight: bold;
    color: $base-green;
  }

  h3,
  h2 {
    font-weight: bold;
    color: $base-green;
    margin-bottom: 0.5rem;
    font-size: math.div($subtitle, 1.304);
  }

  h2 {
    text-align: center;
    font-size: math.div($title, 2.962);
  }

  ul {
    list-style-type: disc;
    padding-left: 1rem;
    text-align: left;

    li {
      margin: 0.5rem 0;
    }
  }
}

.DocumentSelect {
  background-color: #fff;
  width: 100%;
  max-width: 25rem;
  min-height: 60px;
  margin: 0 0 1.5rem;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;

  h4 {
    color: $base-green;
    font-weight: bold;
  }

  p {
    font-size: math.div($body, 1.25);
  }
}