@import "../../../../assets/css/colors";
@import "../../../../assets/css/breakpoints";

.CalculatorContainer {
  width: fit-content;
  margin: 0 auto 23px;
  padding-top: 30px;
  box-shadow: none;
  border-radius: 16px;

  .CalculatorTitle {
    color: #0D8284;
    font-size: 1.6rem;
  }

  form {
    max-width: 23rem;
  }

  @include respond(tablet) {
    padding: 30px 35px 15px;
  }

  @include respond(desktop) {
    .CalculatorTitle {
      font-size: 1.875rem;
      font-size: 30px;
    }
  }
}

.Timer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .TimerP {
    font-size: 0.9rem;
    color: #676767;
  }

  @include respond(tablet) {
    .TimerP {
      font-size: 0.96875rem;
    }
  }
}

.MinAmount {
  text-align: center;
  margin-left: 0;
}