@import "../../../../assets/css/colors";
@import "../../../../assets/css/breakpoints";

.Exchange {
  text-align: center;
  padding: 20px 0;

  p {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.4rem;
    color: $base-green;
    font-weight: bold;
    line-height: 40px;
  }

  h3 {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
  }

  @include respond(tablet) {
    margin-bottom: 20px;

    h1 {
      font-size: 1.7rem;
    }
  }

  @include respond(desktop) {
    h1 {
      font-size: 2.1rem;
    }

    h3 {
      font-size: 1.2rem;
    }
  }
}

.Separator {
  width: 100%;
  padding: 25px 0;
}