@use "sass:math";
@import "../../../../assets/css/colors";
@import "../../../../assets/css/breakpoints";
@import "../../../../assets/css/font-sizes";

.ProfileSelectionWrapper {
  display: grid;
  align-content: center;
  text-align: center;
  padding: 0.5rem 1rem;

  h1 {
    color: $base-green;
    font-weight: bold;
    font-size: math.div($title, 2.66);
  }

  @include respond(tablet) {
    h1 {
      font-size: math.div($title, 2.05);
    }
  }

  @include respond(ldesktop) {
    h1 {
      font-size: math.div($title, 1.65);
    }
  }

  .AddProfile {
    background-color: #afafaf;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.05);
  }

  .AddLink {
    color: $base-green;
    text-decoration: underline;
    font-weight: bold;
  }
}