@use "sass:math";
@import "../../../../assets/css/colors";
@import "../../../../assets/css/breakpoints";
@import "../../../../assets/css/font-sizes";

.NoActivity {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: $body;

  img {
    position: relative;
    width: 200px;
  }

  h1 {
    color: $base-green;
    font-size: math.div($title, 2.222);
    font-weight: bold;
    margin-bottom: 15px;
  }

  a {
    margin-top: 20px;
    padding: 12px 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 17rem;
  }

  @include respond(tablet) {
    img {
      width: 300px;
    }
  }

  @include respond(desktop) {
    h1 {
      font-size: math.div($title, 1.739);
    }

    img {
      width: 400px;
    }
  }
}