@use "sass:math";
@import "../../../../assets/css/colors";
@import "../../../../assets/css/font-sizes";

.KashCard {
  background-color: #fffbdb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px 10px;
  margin: 10px 0;

  h3 {
    color: $base-green;
    margin-top: 5px;
    font-size: math.div($title, 3.636);
  }

  p {
    font-size: math.div($body, 1.111);
  }

  a,
  button {
    background-color: $button-main;
    border-radius: 15px;
    margin: 0 10px;
    padding: 5px 20px;
    transition: 200ms ease-out;

    &:hover,
    &:focus {
      background-color: $button-hover;
    }
  }
}

.TotalAmount {
  margin-top: 5px;
  font-size: $body * 1.25;
  color: $base-green;
  font-weight: bold;
}