@import "../../../core/assets/css/colors";
@import "../../../core/assets/css/breakpoints";

.Information {
  position: relative;
  width: 100%;
  margin-top: 20px;

  @include respond(tablet) {
    margin-top: 30px;
  }
}

.InfoCard {
  width: 100%;
  min-height: 5rem;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  box-shadow: none;
  background-color: $card-color;
  padding: 5px;

  p {
    font-size: 0.85rem;
    color: $base-green;
    margin-left: 20px;
  }

  @include respond(tablet) {
    flex-direction: column;
    justify-content: center;
    border-radius: 0;
    margin: 10px 0;

    &:last-of-type {
      border-radius: 0 10px 10px 0;
    }

    p {
      margin-top: 10px;
      margin-left: 0;
    }
  }

  @include respond(desktop) {
    max-width: 12rem;
    margin: 0;
    min-height: 8rem;
  }

  @include respond(ldesktop) {
    max-width: 16rem;
  }
}

.InfoImgCard {
  height: 8rem;
  box-shadow: none;
  position: relative;
  width: 60%;
  display: none;
  border-radius: 10px 0 0 10px;
  background-color: $card-color;

  img {
    position: absolute;
    left: -30px;
    top: -76px;
    max-width: 15rem;
  }

  @include respond(ldesktop) {
    display: block;
  }
}

.InfoTitle {
  color: $base-green;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
  font-size: 1.3rem;
  z-index: 1;

  @include respond(tablet) {
    margin-top: 0;
    position: absolute;
    top: -40px;
    left: 0;
  }

  @include respond(ldesktop) {
    left: 100px;
  }
}

.InfoButton {
  position: fixed;
  cursor: pointer;
  right: 20px;
  bottom: 20px;
  color: #fff;
  border-radius: 50%;
  background-color: $base-green;
}

.BuyCard,
.SellCard {
  border-radius: 10px 0 0 10px;
  border-right: 1px solid $base-green;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  background-color: $card-color;
  padding: 10px 25px;

  h4 {
    color: $base-green;
  }
}

.SellCard {
  border-radius: 0 10px 10px 0;
  border-right: none;
}

.Price {
  font-size: 1.3rem;
  font-weight: bold;
  color: $base-green;
}

.InputWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0 28px;
}

.InputCurrency {
  flex: 0.2;
  background-color: $secondary-green;
  color: #fff;
  border-radius: 10px 0 0 10px;
  padding: 25px 10px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  font-size: 1.1rem;
}

.Input {
  flex: 0.8;
  position: relative;

  input {
    width: 100%;
    background-color: $card-color;
    text-align: right;
    border-radius: 0 10px 10px 0;
    padding: 19px 25px 15px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
    font-size: 1.75rem;
    color: $base-green;
    font-weight: bold;
  }

  span,
  label {
    position: absolute;
  }

  span {
    font-size: 1.8rem;
    font-weight: bold;
    top: 17px;
    left: 15px;
    color: $base-green;
  }

  label {
    left: auto;
    right: 26px;
    top: 7px;
    font-size: 0.9rem;
    color: $base-green;
  }
}

.Swipe {
  padding: 6px;
  position: absolute;
  left: 20px;
  top: 62px;
  border-radius: 50%;
  background-color: $button-yellow;
  border: 6px solid $card-color;
  transition: 350ms ease-in-out;
  transform: rotate(0deg);

  &:focus {
    outline: 0;
  }
}

.Rotate {
  transform: rotate(180deg);
}

.Rates {
  color: $base-green;

  p {
    font-size: 0.9rem;
  }
}

.Coupon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border: 1px dashed #c3e5d9;
  background-color: $bg-gray;
  color: $base-green;
  border-radius: 5px;
  margin-top: 15px;

  p {
    font-size: 0.9rem;
  }
}

.KashInput {
  margin-top: 5px;
  position: relative;

  input {
    padding: 10px 10px 10px 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid $border-color;
    background-color: transparent;
  }

  span {
    color: $base-green;
    font-weight: bold;
    position: absolute;
    right: 35px;
    top: 10px;
  }
}

.KashInfoWrapper {
  margin: 10px 0 20px;

  b {
    color: $base-green;
  }

  p {
    font-size: 1rem;
    color: $base-text;
  }

  .KashTotalCard {
    margin-top: 1rem;

    p {
      font-size: 1.1rem;
    }

    font-size: 1rem;
  }
}

.CompleteProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  li {
    background-image: url(../../../core/assets/images/icons/check.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left center;
    padding-left: 25px;
  }

  b {
    color: $base-green;
  }

  button {
    margin-top: 20px;
    font-size: 1rem;
  }
}
