@use "sass:math";
@import "../../../../assets/css/colors";
@import "../../../../assets/css/font-sizes";

.Accounts {
  width: 100%;
  max-width: 1366px;
  margin: auto;

  h1,
  h3 {
    font-size: math.div($title, 2.666);
    color: $base-green;
    font-weight: bold;
  }

  h3 {
    font-size: math.div($title, 3.636);
  }

  svg {
    color: $base-green;
  }
}