@use "sass:math";
@import "../../../../assets/css/colors";
@import "../../../../assets/css/breakpoints";
@import "../../../../assets/css/font-sizes";

.AccountDetails {
  width: 89vw;

  hr {
    margin: 15px 0;
  }

  h4 {
    font-size: math.div($title, 4.444);
    margin-bottom: 5px;
  }

  p {
    color: $base-green;
  }

  button {
    display: flex;
    align-items: center;
    font-size: math.div($button, 1.666);
    justify-content: center;
  }

  .DeleteButton {
    color: $error;
    border: 1px solid $error;
    transition: 200ms ease-out;
    background-color: #fff;

    &:hover,
    &:focus {
      color: #fff;
      background-color: $error;
    }
  }

  @media screen and (max-width: 280px) {
    width: 85vw;
  }

  @include respond(tablet) {
    width: 488px;
  }

  @media screen and (min-width: 992px) {
    hr {
      margin: 30px 0;
    }
  }
}