@import "../../../../assets/css/colors";

.ReturnBtn {
  transition: box-shadow 0.45s;
}

.resendCode {
  transition: 250ms ease-out;

  &:hover {
    color: darken($color: $secondary-green, $amount: 10);
  }
}