@import "../../../core/assets/css/breakpoints";
@import "../../../core/assets/css/colors";

.Background {
  background: url("../images/bg/login.svg"), url("../images/bg/shape.svg");
  background-size: 100%;
  background-position: bottom left;
  background-repeat: no-repeat;
  display: none;

  @include respond(tablet) {
    display: block;
  }

  @include respond(desktop) {
    background-size: 80%;
  }

  @include respond(ldesktop) {
    background-size: 800px;
  }
}

.OtpInput {
  padding: 10px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: $base-green;
  text-align: center;
  margin: 0 5px;
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  outline: none;

  &:placeholder-shown {
    background-color: #c4c4c4;
  }
}

.OtpError {
  background-color: $error !important;
}

.GoogleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $base-text !important;
  text-decoration: none !important;
}
