@import "../../../core/assets/css/breakpoints";
@import "../../../core/assets/css/colors";

.Background {
  background: url("../images/bg/login.svg"), url("../images/bg/shape.svg");
  background-size: 100%;
  background-position: bottom left;
  background-repeat: no-repeat;
  display: none;

  @include respond(tablet) {
    display: block;
  }

  @include respond(desktop) {
    background-size: 80%;
  }

  @include respond(ldesktop) {
    background-size: 800px;
  }
}

.FormGroup {
  width: 100%;
  margin: 15px 0;
}

.Select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px 0 6px;
  width: 100%;
  border-bottom: 1px solid $secondary-green;
  background-image: url(../../../core/assets/images/icons/arrow.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 12px;
}

.InputGroup {
  position: relative;

  input {
    width: 100%;
    border-bottom-color: $secondary-green;
    transition: 300ms ease-in-out;
    font-size: 1rem;

    &::placeholder {
      color: $placeholder;
    }

    &:focus {
      outline: none;
      border-bottom-color: darken($color: $secondary-green, $amount: 20);
    }
  }

  svg {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $placeholder;
    transition: 250ms ease-in-out;
  }

  input:focus + svg {
    color: darken($color: $placeholder, $amount: 20);
  }

  input.Error + svg {
    color: $error !important;
  }
}

.Error {
  border-bottom-color: $error !important;
}

.PhoneWrapper {
  font-size: 1rem !important;
  font-family: inherit !important;
}

.PhoneInput {
  width: 100% !important;
  border: none !important;
  border-bottom: 1px solid $secondary-green !important;
  border-radius: 0 !important;
  font-size: 1rem !important;
}

.PhoneError {
  border-bottom-color: $error !important;
}

.ButtonFlag {
  border: none !important;
  border-bottom: 1px solid $secondary-green !important;
  background-color: transparent !important;
  border-radius: 0 !important;
}
