@import "../../../assets/css/colors";
@import "../../../assets/css/breakpoints";

.SignupBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  @include respond(tablet) {
    background: url(../images/bg/coins.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.AuthWrapper {
  padding: 40px 26px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  max-width: 26rem;
  justify-self: center;
  height: 100%;

  > button {
    color: $base-green;
    font-weight: bold;
    text-decoration: underline;
  }

  h1 {
    margin: 10px 0;
    font-size: 1rem;
    line-height: 1.3;
    text-align: start;
  }

  h2 {
    color: $base-green;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.2;
  }

  p {
    line-height: 1.2;
  }

  a {
    font-size: 0.9rem;
    color: $anchor-green;
    text-decoration: underline;
    transition: 250ms ease-out;
    font-weight: bold;

    &:hover {
      color: darken($color: $anchor-green, $amount: 10);
    }
  }

  form {
    width: 100%;
    text-align: left;

    h4 {
      color: $secondary-green;
    }
  }

  @include respond(tablet) {
    padding: 100px 15px;
    min-width: 23rem;

    h1 {
      font-size: 1.1rem;
    }
  }
}

.InfoButton {
  color: $base-green;
  text-decoration: underline;
  font-weight: bold;
}

.SignInMessage {
  font-size: 0.9rem;
  text-align: center;
  margin: 15px 0;
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 26%;
    background-color: lighten($color: $base-text, $amount: 30);
    position: absolute;
    left: 0;
    top: 50%;
  }

  &::after {
    left: auto;
    right: 0;
  }
}
