@import "../../../core/assets/css/breakpoints";
@import "../../../core/assets/css/colors";

.Background {
  background: url("../images/bg/login.svg"), url("../images/bg/shape.svg");
  background-size: 100%;
  background-position: bottom left;
  background-repeat: no-repeat;
  display: none;

  @include respond(tablet) {
    display: block;
  }

  @include respond(desktop) {
    background-size: 80%;
  }

  @include respond(ldesktop) {
    background-size: 800px;
  }
}
