@import "../../../../../assets/css/colors";

.GoogleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $base-text !important;
  text-decoration: none !important;
  transition: box-shadow 0.4s;
}