// File imported by inline-input.component.js & upload-input.component.js

@import "../../../../assets/css/colors";
@import "../../../../assets/css/breakpoints";

.FormGroup {
  position: relative;
  margin-bottom: 20px !important;
  width: 100%;

  input,
  select {
    padding: 14px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 0.9rem;
    position: relative;
  }

  input:disabled,
  select:disabled {
    background-color: transparent;
  }

  select {
    padding: 15px 10px;
    font-size: 0.85rem;
  }

  svg {
    color: $placeholder;
  }

  @include respond(tablet) {
    select,
    input {
      font-size: 1rem;
    }
  }
}

.FlexInput {
  display: flex;
  align-items: center;

  .FormControl {
    border-radius: 4px 0 0 4px;
  }

  input {
    flex: 0.8;
    border-radius: 4px 0;
    border-right: none;
  }

  button {
    flex: 0.2;
    padding: 11.5px 15px;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    border-radius: 0 3px 3px 0;
    color: #fff;
    background-color: $secondary-green;
  }
}
