/*  BASE COLORS  */
$base-green: #0d8284;
$secondary-green: #20a2a5;
$tertiary-green: #67be9f;
$light-color: #f8fafb;

/* TEXT COLORS */
$text-title: #0d8284;
$text-body: #676767;
$text-placeholder: #cacaca;
$text-extra: #ffeb4c;

/* FORM COLORS */
$input-active: #0d8284;
$input-empty: #afafaf;
$input-fill: #e8f0fe;
$fill-refer: #fff7b8;
$error: #ff4b55;

/* BUTTONS */
$button-main: #ffeb4d;
$button-hover: #ffe517;
$button-secondary: #ffffff;
$button-cancel: #f1f1f1;
$button-disabled: #e4e4e4;

/* NAVIGATION */
$navigation-focus: #e1f2ec;
$navigation-hover: #c3e5d9;

/* STATUS */
$success: #1da53c;
$processing: #0291bf;
$pending: #db6900;
$unpaid: #909090;

/* ALERT */
$success-bg-alert: #e1f2ec;
$error-bg-alert: #fff5f5;
$error-icon-alert: #c53030;
$error-border-alert: #fc8181;
$warning-bg-alert: #fbf0e5;
$warning-icon-alert: #db6900;