@import "./fonts";
@import "./colors";
@import "./breakpoints";

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #676767;
  background-color: $bg-color;
  overflow: auto;
  height: 100%;
  position: relative;

  @include respond(tablet) {
    font-size: 16px;
    height: auto;
  }
}

.main-app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem auto;
  grid-template-areas:
    "header"
    "section";
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: $bg-color;

  @include respond(tablet) {
    grid-template-columns: 17rem 1fr;
    grid-template-rows: 4.7rem 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header"
      "sidebar section"
      "sidebar section";
  }

  @include respond(desktop) {
    grid-template-columns: 19rem 1fr;
  }
}

.main-section {
  grid-area: section;
  min-height: 80vh;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  position: relative;
  padding: 40px 20px;
}

.max-screen {
  max-width: 1440px;
}

.action-button {
  background-color: $button-yellow;
}

.secondary-button {
  background-color: #fff;
}

.input-spinner {
  position: absolute;
  right: 7px;
  top: 0;
  z-index: 10;
}

/* FORM GLOBALS */

input::placeholder {
  font-size: 0.9rem;
}

.error-msg {
  color: #ff4b55 !important;
  margin-top: 2px;
  margin-left: 5px;
  text-align: left;
}

.info-icon {
  color: $base-green;
}

.input-error {
  border-color: #ff4b55 !important;
}

/* REACT MODAL */

.ReactModal__Html--open,
.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.15) !important;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transition: 300ms ease-in-out;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.slider-modal {
  max-height: 100vh;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  max-width: 25rem;
  background-color: #fff;
  border-radius: 40px 40px 0 0;
  outline: none;
  overflow-y: auto;

  @include respond(tablet) {
    border-radius: 40px 0 0 0;
    height: 100vh;
  }
}

.ReactModal__Content.slider-modal {
  transform: translateY(100%);
  transition: 600ms ease-in-out;

  @media screen and (min-width: 768px) {
    transform: translateX(100%);
  }
}

.ReactModal__Content--after-open.slider-modal {
  transform: translateY(0);

  @media screen and (min-width: 768px) {
    transform: translateX(0);
  }
}

.ReactModal__Content--before-close.slider-modal {
  transform: translateY(100%);

  @media screen and (min-width: 768px) {
    transform: translateX(100%);
  }
}

/* SWIPER */

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -5px !important;

  @media screen and (min-width: 768px) {
    bottom: 0 !important;
  }
}

.swiper-pagination-bullet {
  background-color: #c3e5d9;
  opacity: 1;
  width: 14px !important;
  height: 14px !important;
  margin: 0 7px !important;
}

.swiper-pagination-bullet-active {
  background-color: #20a2a5 !important;
}

/* CUSTOM MATERIAL-UI */

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: $base-green !important;
}

.MuiFormLabel-root.Mui-focused {
  color: $base-green !important;
}

.MuiAccordionDetails-root {
  background-color: $bg-color;
}

.MuiFormControl-root {
  width: 100%;
}

.MuiInputBase-root {
  color: inherit !important;
}

.MuiInputLabel-outlined {
  transform: translate(14px, 15px) scale(1) !important;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(14px, -6px) scale(0.75) !important;
}

.MuiAccordionDetails-root {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.MuiInput-underline:before,
.MuiInput-underline:after {
  display: none;
}

/* SWEETALERT */

.swal2-title {
  color: $base-green;
  font-size: 1.5rem;
}

.swal2-content {
  font-size: 1.1rem;
  color: #676767;
}

.swal2-styled.swal2-cancel {
  color: #676767;
}
