@import "../../core/assets/css/colors";

.DashboardCard {
  margin: 10px 0;

  h2 {
    color: $base-green;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
  }

  h4 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  a {
    font-size: 0.8rem;
    text-decoration: underline;
    color: $base-green;
  }

  > a {
    transition: 200ms ease-out;
    width: auto;
    display: inline-block;

    &:hover {
      color: darken($color: $base-green, $amount: 15);
    }
  }

  &:last-of-type {
    margin-top: 40px;
  }
}

.KashCard {
  background-color: $light-yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px 10px;
  border-radius: 15px;
  margin: 10px 0;

  h3 {
    color: $base-green;
    margin-top: 5px;
    font-size: 1.1rem;
  }

  p {
    font-size: 0.9rem;
  }

  a,
  button {
    background-color: $button-yellow;
    border-radius: 15px;
    margin: 0 10px;
    padding: 5px 20px;
    transition: 200ms ease-out;

    &:hover,
    &:focus {
      background-color: darken($color: $button-yellow, $amount: 15);
    }
  }
}

.NoActivity {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  img {
    position: relative;
    left: 20px;
    width: 200px;
  }

  h1 {
    color: $base-green;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
  }

  a {
    margin-top: 20px;
    padding: 12px 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 17rem;
  }

  @media screen and (min-width: 768px) {
    img {
      width: 300px;
    }
  }
}

.ActivityMobile {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 15px 0;

  h4 {
    font-weight: 500;
    font-size: 0.75rem;
    margin-bottom: 5px;
  }

  p {
    font-size: 0.85rem;
    text-transform: capitalize;
  }
}

.Details {
  width: 100%;
  font-size: 1rem;
  height: 100%;
  padding: 15px 35px;

  .Price {
    color: $base-green;
    font-weight: bold;
  }

  h2,
  h4,
  h3 {
    color: $base-green;
    font-weight: 500;
    text-align: center;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      font-size: 1.3rem;
      padding: 40px 10px;
    }
  }

  h3 {
    text-align: left;
  }

  form input {
    margin: 0;
  }
}

.SwiperContainer {
  min-height: 570px;
  z-index: 0 !important;
}

.TotalAmount {
  margin-top: 5px;
  font-size: 1.25rem;
  color: $base-green;
  font-weight: bold;
}

.ActionButton,
.CloseButton {
  background-color: $button-yellow;
  padding: 4px 20px !important;
  width: auto;
  font-size: 0.85rem;
  border-radius: 10px;

  &:hover,
  &:focus {
    background-color: $base-yellow;
  }
}

.ActionButton {
  max-width: 10rem;
}

.CloseButton {
  width: 100%;
  padding: 15px !important;
  font-size: 1rem;
  text-align: center;
}

.Price {
  color: $base-green;
  font-weight: bold;
}
