@import "../../../../assets/css/colors";
@import "../../../../assets/css/breakpoints";

.Information {
  position: relative;
  width: 100%;
  top: 25px;
  margin-bottom: 25px;
  color: #0d8284;

  button {
    color: initial;
  }

  @include respond(tablet) {
    top: 55px;
  }

  @include respond(desktop) {
    margin-top: 20px;
  }
}

.InfoContainer {
  flex-direction: column;

  @include respond(desktop) {
    flex-direction: row;
    background-color: #f0f8f5;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25);
  }
}

.InfoTitle {
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
  font-size: 1.3rem;
  z-index: 1;

  @include respond(tablet) {
    margin-top: 0;
    position: absolute;
    top: -40px;
    left: 0;
  }

  @include respond(ldesktop) {
    left: 86px;
  }
}

.InfoImgCard {
  box-shadow: none;
  position: relative;
  width: 22%;
  display: none;

  img {
    position: absolute;
    left: -80px;
    top: -77px;
    max-width: 15rem;
  }

  @include respond(ldesktop) {
    display: block;
  }
}

.InfoCard {
  width: 100%;
  min-height: 5rem;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  box-shadow: none;
  padding: 10px 7px;
  background-color: #fff;

  p {
    font-size: 0.85rem;
    margin-left: 20px;
  }

  @include respond(tablet) {
    flex-direction: column;
    justify-content: center;
    border-radius: 0;
    margin: 10px 0;

    p {
      margin-top: 10px;
      margin-left: 0;
    }
  }

  @include respond(desktop) {
    background-color: transparent;
    min-width: 14rem;
    max-width: 17rem;
    margin: 0;
    min-height: 8rem;
  }

  @include respond(ldesktop) {
    max-width: 19rem;
  }
}