@use "sass:math";
@import "../../../../assets/css/colors";
@import "../../../../assets/css/font-sizes";

.KashInfoWrapper {
  margin: 10px 0 20px;

  b {
    color: $base-green;
  }

  p {
    font-size: $body;
    color: $text-body;
  }

  .KashTotalCard {
    margin-top: 1rem;

    p {
      font-size: $body * 1.1;
    }

    font-size: $body;
  }
}

.KashRadioGroup {
  margin: 0 auto;
}