// File imported by rates-modal-component.js and timeout-modal.component.js
@import "../../../../assets/css/breakpoints";

.Container {
  max-width: 17rem;
  margin-left: 5px;
  margin-right: 5px;

  p {
    color: #676767;
  }

  .Btn {
    max-width: 100%;
    color: #676767;
  }

  @include respond(desktop) {
    max-width: 25rem;

    p {
      margin: 0 0.625rem 1.5rem;
    }
  }
}