@import "../../../../assets/css/colors";

.HeaderSelection {
  background-color: $base-green;
  width: 100%;
  padding: 1rem;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: underline;
  }
}
