@use "sass:math";
@import "../../../../assets/css/breakpoints";
@import "../../../../assets/css/font-sizes";

.CheckGroup {
  width: 100%;
  margin: 0;

  label {
    font-size: math.div($body, 1.17);
    cursor: pointer;

    a,
    span {
      font-size: math.div($body, 1.17);
    }
  }

  @include respond(tablet) {
    label {
      font-size: math.div($body, 1.11);

      a,
      span {
        font-size: math.div($body, 1.11);
      }
    }
  }
}