@import "../../../../assets/css/breakpoints";
@import "../../../../assets/css/colors";

.FormControl {
  margin-top: 16px;

  .DateInput {
    input {
      margin: 9px 0 0;
      padding: 13px;
      border: 1px solid #ccb;
      border-radius: 4px;
      color: $text-body;
    }
  }

  @include respond(desktop) {
    .DateInput.EmptyInput {
      margin-top: 7px;
    }
  }

  .DateError input {
    border-color: $error;
  }
}