@use "sass:math";
@import "../../../../assets/css/breakpoints";
@import "../../../../assets/css/colors";
@import "../../../../assets/css/font-sizes";

.FormControl {
  position: relative;
  margin-bottom: 20px !important;

  input,
  select {
    padding: 14px;
    font-size: math.div($body, 1.11);
  }

  select {
    padding: 15px 10px;
    font-size: math.div($body, 1.17);
    border-radius: 4px;
  }

  input:disabled,
  select:disabled {
    background-color: transparent;
  }

  svg {
    color: $text-placeholder;
  }

  @include respond(tablet) {

    select,
    input {
      font-size: $body;
    }
  }
}

.FlexInput {
  display: flex;
  align-items: center;
  border: 1px solid $input-empty;
  border-radius: 4px;

  .OutlinedInput {
    padding-left: 10px;
    border-right: 1px solid $input-empty;
    width: 100%;
    background-color: #fff;
  }

  input {
    flex: 50%;
    padding: 3.5px 0;
  }

  .InputBtn {
    flex: 0.1;
    padding: 14px 8px;
    box-shadow: none;
    font-size: math.div($button, 1.57);
    border-radius: 0;
    color: $secondary-green;
    text-decoration-line: underline;

    &:disabled {
      background-color: transparent;
      color: $text-placeholder;
    }
  }

  @include respond(desktop) {
    input {
      font-size: $body * 1.05;

      &::placeholder {
        font-size: math.div($body, 1.02);
      }
    }

    .InputBtn {
      font-size: math.div($button, 1.5);
    }
  }
}