@import "../../../core/assets/css/colors";
@import "../../../core/assets/css/breakpoints";

.Instructions {
  max-width: 1536px;
  margin: auto;

  h1 {
    color: $base-green;
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
  }

  h3 {
    font-weight: bold;
    text-align: center;
  }

  b {
    color: $base-green;
  }

  a {
    color: $base-green;
    text-decoration: underline;
  }

  @include respond(tablet) {
    margin-top: 25px;

    h1 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.2rem;
    }
  }

  @include respond(desktop) {
    h1 {
      font-size: 3.3rem;
    }

    h3 {
      font-size: 1.3rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

.CodeInfoCard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  padding: 10px;

  > p {
    max-width: 35rem;
    margin-left: 25px;
  }

  @include respond(tablet) {
    padding: 25px;
    background-color: #e1f2ec;
  }

  @include respond(desktop) {
    padding: 50px;
    margin-top: 30px;

    p {
      font-size: 1rem;
    }
  }
}

.CodeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  button {
    color: $base-green;
    text-decoration: underline;
    margin-top: 5px;
    font-size: 0.95rem;
  }

  @include respond(desktop) {
    align-items: flex-start;
  }
}
