@import '../../../core/assets/css/colors';
@import '../../../core/assets/css/breakpoints';

.Step {
  font-size: 18px;
  background: #fff;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 0 30px;
  max-width: 22rem;
  text-align: left;
  margin: 15px 0;

  h4 {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 15px;
    align-self: flex-start;
  }

  p {
    font-size: 1rem;
    margin-top: 10px;
  }

  b,
  a {
    color: $base-green;
  }

  a {
    text-decoration: underline;
  }

  img {
    display: block;
    width: 100%;
    max-width: 160px;
  }

  @include respond(tablet) {
    img {
      max-width: 180px;
    }
  }

  @include respond(desktop) {
    margin: 0;

    img {
      max-width: 220px;
    }
  }
}
