@import '../../../core/assets/css/colors';

.SwiperContainer {
  width: 100%;
  max-width: 325px;
  margin-top: 25px;
}

.SwiperPrev,
.SwiperNext {
  display: inline-block;
  color: $base-green;
  position: absolute;
  top: 35%;
  z-index: 10;
  cursor: pointer;
}

.SwiperPrev {
  left: 0;
}

.SwiperNext {
  right: 0;
}
