@import '../../../core/assets/css/colors';

.BuyCard,
.SellCard {
  border-radius: 10px 0 0 10px;
  border-right: 1px solid $base-green;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  padding: 10px 25px;

  h4 {
    color: $base-green;
  }
}

.SellCard {
  border-radius: 0 10px 10px 0;
  border: none;
}

.Price {
  font-size: 1.3rem;
  font-weight: bold;
  color: $base-green;
}

.InputWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0 28px;
}

.InputCurrency {
  flex: 0.2;
  background-color: $secondary-green;
  color: #fff;
  border-radius: 10px 0 0 10px;
  padding: 25px 10px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  font-size: 1.1rem;
}

.Input {
  flex: 0.8;
  position: relative;

  input {
    width: 100%;
    background-color: $bg-gray;
    text-align: right;
    border-radius: 0 10px 10px 0;
    padding: 19px 25px 15px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
    font-size: 1.75rem;
    color: $base-green;
    font-weight: bold;
  }

  span,
  label {
    position: absolute;
  }

  span {
    font-size: 1.8rem;
    font-weight: bold;
    top: 17px;
    left: 15px;
    color: $base-green;
  }

  label {
    left: auto;
    right: 26px;
    top: 7px;
    font-size: 0.9rem;
    color: $base-green;
  }
}

.Swipe {
  padding: 6px;
  position: absolute;
  left: 20px;
  top: 62px;
  border-radius: 50%;
  background-color: $button-yellow;
  border: 6px solid #fff;
  transition: 350ms ease-in-out;
  transform: rotate(0deg);

  &:focus {
    outline: 0;
  }
}

.Rotate {
  transform: rotate(180deg);
}

.Rates {
  color: $base-green;

  p {
    font-size: 0.9rem;
  }
}
