@use "sass:math";
@import "../../../../assets/css/colors";
@import "../../../../assets/css/font-sizes";

.AccountCard {
  margin: 10px;
  width: 17rem;
  min-height: 7.5rem;
  display: grid;
  align-content: center;
  font-size: math.div($body, 1.052);

  button {
    color: $base-green;
    text-decoration: underline;
  }

  @media (min-width: 1366px) {
    width: 19rem;
  }
}