@import "../../../../assets/css/breakpoints";
@import "../../../../assets/css/colors";

.AddAccountsTabs {
  width: 100%;

  @include respond(tablet) {
    width: 473px;
  }
}

button.AddAccountTab {
  background-color: $navigation-focus;
  color: $text-body;

  &:first-of-type {
    border-radius: 4px 0 0 0;

    &[aria-selected="true"] {
      box-shadow: 7px 3px 7px rgba(0, 0, 0, 0.1);
    }
  }

  &:last-of-type {
    border-radius: 0 4px 0 0;

    &[aria-selected="true"] {
      box-shadow: -7px 3px 10px rgba(0, 0, 0, 0.06);
    }
  }
}