@import '../assets/css/colors';

.OutOfTimeBg {
  background-image: url(../assets/images/outOfTime.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.OutOfTimeWrapper {
  max-width: 28rem;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    color: $secondary-green;
    margin-top: 20px;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    h1 {
      font-size: 1.6rem;
    }
  }
}

.KashInfo {
  font-size: 0.95rem;
  text-align: center;

  .KashPrice {
    font-size: 1.1rem;
    font-weight: bold;
    color: $base-green;
    margin: 20px 0;
  }

  ul {
    text-align: left;
  }

  li {
    margin: 10px 0;
    background-image: url(../../core/assets/images/icons/check.svg);
    background-size: 15px;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: left 35%;

    button {
      color: $base-green;
      text-decoration: underline;
    }
  }
}
