@import "../../../assets/css/colors";
@import "../../../assets/css/breakpoints";

.Modal {
  width: 100%;
  max-width: 33rem !important;
  margin: 5px !important;

  h2 {
    color: $base-green;
    font-size: 1.2rem;
    font-weight: 600;
  }

  @include respond(desktop) {
    h2 {
      font-size: 1.3rem;
    }
  }
}

.ModalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid $base-green;

  h2 {
    color: $base-green;
    font-size: 1.2rem;
    font-weight: 600;
  }

  @include respond(desktop) {
    h2 {
      font-size: 1.3rem;
    }
  }
}

.ModalBody {
  padding: 15px 15px 35px !important;
  font-size: 1rem;

  b {
    color: $base-green;
  }

  button {
    max-width: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    min-width: 19rem;

    a {
      color: $base-green;
      text-decoration: underline;
      font-weight: bold;
    }
  }

  @include respond(tablet) {
    padding: 25px 20px 35px !important;
  }
}

.SliderModalContainer {
  align-items: flex-end !important;

  @include respond(tablet) {
    justify-content: flex-end !important;
  }
}

.SliderModal {
  height: 90vh;
  max-height: 100% !important;
  margin: 0 !important;
  border-radius: 0 !important;
  width: 100%;
  max-width: 25rem !important;

  @include respond(tablet) {
    max-width: 23rem !important;
    height: 100vh;
  }
}

.SliderModalBody {
  padding: 15px 0 !important;
}

.Close {
  color: $base-green;

  svg {
    font-size: 30px;
  }

  @include respond(tablet) {
    svg {
      font-size: 35px;
    }
  }
}

.OutOfTimeBg {
  background-image: url(../../../assets/images/outOfTime.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.OutOfTimeWrapper {
  max-width: 30rem;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    color: $base-green;
    margin-top: 20px;
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: bold;
  }

  @include respond(tablet) {
    h1 {
      font-size: 1.8rem;
    }
  }

  @include respond(desktop) {
    h1 {
      font-size: 2.3rem;
    }
  }
}
