/*  BASE COLORS  */
$base-green: #0d8284;
$base-text: #676767;
$secondary-green: #69bea0;
$anchor-green: #20a2a5;
$base-yellow: #e5d344;
$light-yellow: #fffbdb;
$button-yellow: #ffeb4d;
$base-orange: #ffa755;
$light-orange: #f9ca9e;
$bg-gray: #f0f8f5;

/* FORM COLORS */
$bg-input: #f0f8f5;
$placeholder: #b3b3b3;
$border-color: #afafaf;
$error: #ff4b55;
