@import "../../../../../assets/css/colors";
@import "../../../../../assets/css/breakpoints";

.InputDesc.InputDesc {
  color: #afafaf;
  font-size: 0.79rem;
  margin-top: -18px;

  @include respond(tablet) {
    font-size: 0.85rem;
  }
}

.Coupon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border: 1px dashed #c3e5d9;
  background-color: $bg-gray;
  color: $base-green;
  border-radius: 5px;
  margin-top: 15px;

  p {
    font-size: 0.9rem;
  }
}

.WarningTxt.WarningTxt {
  font-size: 0.9rem;
  margin: 7px 0 8px 15px;

  @include respond(desktop) {
    font-size: 0.95rem;
  }
}