@use "sass:math";
@import "../../../../../assets/css/colors";
@import "../../../../../assets/css/font-sizes";

.InputWrapper {
  margin: 15px 0 18px;
}

.Input {
  position: relative;
  color: $base-green;

  input {
    width: 100%;
    background-color: #e9f6f6;
    text-align: left;
    border-radius: 7.5px;
    padding: 19px 25px 3px;
    font-size: $body * 1.75;
    font-weight: bold;
  }

  span,
  label {
    position: absolute;
  }

  span {
    font-size: $body * 2;
    font-weight: bold;
    top: 12px;
    right: 15px;
  }

  label {
    left: 26px;
    right: auto;
    top: 7px;
    font-size: math.div($body, 1.111);
  }
}