@import "../../../../../assets/css/colors";

.InputWrapper {
  margin: 15px 0 18px;
}

.Input {
  position: relative;
  color: #0D8284;

  input {
    width: 100%;
    background-color: #E9F6F6;
    text-align: left;
    border-radius: 7.5px;
    padding: 19px 25px 3px;
    font-size: 1.75rem;
    font-weight: bold;
  }

  span,
  label {
    position: absolute;
  }

  span {
    font-size: 2rem;
    font-weight: bold;
    top: 12px;
    right: 15px;
  }

  label {
    left: 26px;
    right: auto;
    top: 7px;
    font-size: 0.9rem;
  }
}