@import "../../../../../assets/css/colors";
@import "../../../../../assets/css/breakpoints";

.Rates {
  p {
    font-size: 0.9rem;
    transition: opacity 0.5s;
  }

  @include respond(tablet) {
    p {
      font-size: 0.98rem;
    }
  }
}

.BuyCard,
.SellCard {
  background-color: $card-color;
  padding: 7px 7px;
  transition: opacity 0.5s;

  h4 {
    color: #0D8284;
    font-weight: bold;
    font-size: 0.9rem;
  }

  @include respond(tablet) {
    padding: 10px 12px;

    h4 {
      font-size: 1.05rem;
    }
  }
}

.Faint {
  opacity: 0.4;
}

.RatesDivider {
  display: block;
  background-color: #cacaca;
  height: 35px;
  width: 1px;
}

.Price {
  font-size: 1rem;
  color: #0D8284;
  font-weight: bold;

  @include respond(tablet) {
    font-size: 1.05rem;
  }
}