@import "../../../assets/css/colors";
@import "../../../assets/css/breakpoints";

.NoDetails {
  color: #959595;
  margin-top: 15px;
}

.AddFile {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 19rem;
  margin: 10px auto;

  button[type="submit"] {
    margin: 3px 0 0 !important;
    color: $base-green !important;
    text-decoration: underline;
  }

  h4 {
    margin-top: 5px;
    font-size: 1rem !important;
    color: $base-text;

    b {
      color: #20a2a5;
    }
  }

  p {
    color: $base-text;
    font-size: 0.8rem !important;
  }

  button svg {
    color: $base-green;
  }

  span {
    background-color: $base-green;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: grid;
    align-content: center;
    justify-content: center;
    transition: 200ms ease-in-out;

    &:focus,
    &:hover {
      background-color: $anchor-green;
    }
  }

  svg {
    color: #fff;
  }
}

.ActionButtons {
  display: flex;
  align-items: center;

  button:last-of-type {
    color: $error;
  }
}

.SelectionCard {
  width: 300px;
  min-height: 325px;
  border-radius: 15px;
  background-color: $card-color;
  transition: 250ms ease-in-out;
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.05);

  h2 {
    color: $base-green;
    font-weight: bold;
    font-size: 1.6rem;
  }

  &:hover,
  &focus {
    box-shadow: 0px 0px 2px 1.5px rgba(10, 67, 68, 0.04);
  }

  p {
    font-size: 0.9rem;

    &:first-of-type {
      text-transform: capitalize;
    }

    &:last-of-type {
      color: $base-green;
      text-decoration: underline;
      font-weight: bold;
    }
  }

  img {
    width: 100%;
    max-width: 7rem;
    object-fit: contain;
    margin: 0.5rem 0;
  }

  @media screen and (min-width: 768px) {
    margin: 20px;
  }
}

.Add {
  max-width: 4rem !important;
}

.UploadDocument {
  text-align: center;

  h2 {
    color: $base-green;
    margin: 0;
  }

  img {
    max-width: 10rem;
  }

  h4 {
    margin-bottom: 10px;
    font-weight: bold;
  }

  ul {
    font-size: 0.8rem;
    list-style-image: url(../../../assets/images/icons/check.svg);
  }

  li {
    margin: 5px 0;
  }

  p {
    font-size: 0.9rem;
  }
}

.InfoItem {
  margin: 10px 0;
  width: 100%;
  max-width: 22rem;

  h4 {
    color: $base-text;
    margin-left: 10px;
  }

  @include respond(tablet) {
    margin: 10px 5px;
  }
}

.InfoBox {
  margin-top: 5px;
  padding: 10px 20px;
  background: #ffffff;
  box-shadow: 0px 24px 20px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  color: $base-text;
  font-size: 0.9rem;
}
