@import "../../../assets/css/colors";
@import "../../../assets/css/breakpoints";
@import "../../../assets/css/font-sizes";

.ProfileWrapper {
  padding: 3.5rem 0.5rem 1rem;

  @include respond(desktop) {
    display: grid;
    padding: 0;
    grid-template-columns: 0.8fr 1.2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "navigation section section"
      "navigation section section"
      "navigation section section";
  }
}

.ProfileSection {
  grid-area: section;
  width: 100%;
  max-width: 960px;
  margin: auto;
}

.ProfileNavigation {
  grid-area: navigation;

  @include respond(desktop) {
    margin-right: 1rem;
    border-right: 1px solid #ccc;
  }
}

.AffiliateCard {
  min-width: 20rem;
  width: 100%;
  background-color: $light-yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  text-align: center;
  transform: translateY(86%);
  position: fixed;
  left: 0;
  bottom: 0;
  transition: 450ms ease-in-out;

  h2,
  h3 {
    color: $base-green;
    margin: 10px 0 15px;
    font-size: 1.3rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1rem;
    margin: 10px 0;
    span {
      font-size: 1.2rem;
    }
  }

  p {
    margin-bottom: 10px;
  }

  button {
    color: $base-green;
    text-decoration: underline;
    font-weight: bold;
  }

  @include respond(tablet) {
    position: static;
    border-radius: 10px;
    transform: translateY(0);
    padding: 50px 20px;
  }
}

.Show {
  transform: translateY(0);
}

.ShowMoreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;

  &:focus {
    outline: 0;
  }

  @media screen and (min-width: 996px) {
    display: none;
  }
}

.Code {
  background-color: #46e6ad;
  color: #fff;
  border-radius: 10px;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 1.3rem;
}

.AccordionTitle {
  background-color: transparent !important;
  border-bottom: 3px solid $base-green !important;

  svg {
    color: $base-green;
  }
}
