@import "../../../assets/css/colors";
@import "../../../assets/css/breakpoints";

.NoDetails {
  color: #959595;
  margin-top: 15px;
}

.AddFile {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 19rem;
  margin: 10px auto;

  button[type="submit"] {
    margin: 3px 0 0 !important;
    color: $base-green !important;
    text-decoration: underline;
  }

  h4 {
    margin-top: 5px;
    font-size: 1rem !important;
    color: $base-text;

    b {
      color: #20a2a5;
    }
  }

  p {
    color: $base-text;
    font-size: 0.8rem !important;
  }

  button svg {
    color: $base-green;
  }

  span {
    background-color: $base-green;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: grid;
    align-content: center;
    justify-content: center;
    transition: 200ms ease-in-out;

    &:focus,
    &:hover {
      background-color: $anchor-green;
    }
  }

  svg {
    color: #fff;
  }
}

.ActionButtons {
  display: flex;
  align-items: center;

  button:last-of-type {
    color: $error;
  }
}

.SelectionCard {
  width: 300px;
  min-height: 325px;
  border-radius: 15px;
  background-color: $card-color;
  transition: 250ms ease-in-out;
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.05);

  h2 {
    color: $base-green;
    font-weight: bold;
    font-size: 1.6rem;
  }

  &:hover,
  &focus {
    box-shadow: 0px 0px 2px 1.5px rgba(10, 67, 68, 0.04);
  }

  p {
    font-size: 0.9rem;

    &:first-of-type {
      text-transform: capitalize;
    }

    &:last-of-type {
      color: $base-green;
      text-decoration: underline;
      font-weight: bold;
    }
  }

  img {
    width: 100%;
    max-width: 7rem;
    object-fit: contain;
    margin: 0.5rem 0;
  }

  @include respond(tablet) {
    margin: 20px;
  }
}

.Add {
  max-width: 4rem !important;
}

.UploadDocument {
  text-align: center;

  h2 {
    color: $base-green;
    margin: 0;
  }

  img {
    max-width: 10rem;
  }

  h4 {
    margin-bottom: 10px;
    font-weight: bold;
  }

  ul {
    font-size: 0.8rem;
    list-style-image: url(../../../assets/images/icons/check.svg);
  }

  li {
    margin: 5px 0;
  }

  p {
    font-size: 0.9rem;
  }
}

.InfoItem {
  padding: 0.7rem 0;
  margin: 0.5rem 0.3rem 0;
  border-bottom: 1px solid #e6e6e6;

  h4 {
    font-size: 0.85rem;
    margin-bottom: 0.3rem;
    color: #979797;
  }

  p {
    font-size: 1rem;
  }

  button {
    color: $base-green;
    border-bottom: 1px solid $base-green;
  }

  .EditInputWrapper {
    position: relative;

    input {
      padding-right: 70px;
    }

    .EditButtons {
      position: absolute;
      display: flex;
      align-items: center;
      right: 10px;
      top: 10px;
    }

    button {
      border-bottom: none;
    }
  }
}

.InfoBox {
  margin-top: 5px;
  padding: 10px 20px;
  background: #ffffff;
  box-shadow: 0px 24px 20px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  color: $base-text;
  font-size: 0.9rem;
}

.ProfileNav {
  width: 100%;
  min-height: 60px;
  padding: 0.2rem 0.3rem;
  background-color: $base-green;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  left: 0;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;

  .ProfileNavItems {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .NavItem {
      min-width: auto;
      position: relative;
      margin: 0.2rem 1rem;
      color: #ddd;

      a {
        font-weight: bold;
        display: inline-block;
        line-height: 1.5;
        transition: 250ms ease-out;
        padding-bottom: 0.2rem;
        position: relative;

        span {
          color: #dddddd;
        }

        small {
          display: none;
        }

        &.Active {
          span {
            color: #fff;
          }

          + div {
            width: 100%;
            position: absolute;
            height: 2px;
            bottom: -2px;
            left: 0;
            background-color: #fff;
          }
        }
      }
    }
  }

  @include respond(desktop) {
    background-color: transparent;
    position: relative;
    margin-top: 2rem;
    padding: 0;

    .ProfileNavItems {
      position: static;
      flex-direction: column;
      width: 100%;

      .NavItem {
        margin: 0;
        color: $base-green;
        width: 100%;

        a {
          padding: 1.5rem 1rem;
          display: flex;
          flex-flow: column;
          color: #676767;

          span {
            color: $base-green;
          }

          small {
            font-weight: 400;
            display: inline-block;
          }

          &.Active {
            color: #676767;
            background-color: #fff;

            span {
              color: $base-green;
            }

            + div {
              display: none;
            }
          }

          &:after {
            content: "";
            position: absolute;
            right: 15px;
            top: 25px;
            width: 15px;
            height: 15px;
            background-image: url(../../../assets/images/icons/arrow-right.svg);
            background-size: 12px;
            background-repeat: no-repeat;
            z-index: 10;
          }
        }
      }
    }
  }
}

.VerifyIdentityWrapper {
  margin-top: 2.5rem;
  text-align: center;

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: $base-green;
  }

  h3 {
    font-weight: bold;
    color: $base-green;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.15rem;
  }

  ul {
    list-style-type: disc;
    padding-left: 1rem;
    text-align: left;

    li {
      margin: 0.5rem 0;
    }
  }
}

.DocumentSelect {
  background-color: $card-color;
  width: 100%;
  max-width: 25rem;
  min-height: 60px;
  margin: 0 0 1.5rem;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;

  h4 {
    color: $base-green;
    font-weight: bold;
  }

  p {
    font-size: 0.8rem;
  }
}

.UploadDocWrapper {
  text-align: center;
  padding: 0.2rem 0.5rem;

  ul {
    text-align: left;
    list-style-image: url(../../../assets/images/icons/check.svg);
    padding-left: 0.8rem;

    li {
      font-size: 0.85rem;
      margin: 0.5rem 0;
    }
  }
}

.CameraWrapper {
  padding: 0.2rem;
  text-align: center;

  h2 {
    color: $base-green;
    font-size: 1.25rem;
  }
}

.PhotoButtonSquare {
  width: 140px;
  height: 115px;
  background-color: #eee;
  border: 1px solid #ccc;
  display: flex !important;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  @include respond(tablet) {
    width: 200px;
  }
}

.PassportButton {
  width: 100%;
  height: 135px;
  background-color: #eee;
  border: 1px solid #ccc;
  display: flex !important;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  object-fit: contain;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.ProfileNavDesktop {
  display: none;

  @include respond(desktop) {
    display: flex;
  }
}

.ProfileInfoCard {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: $card-color;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);

  p {
    font-size: 0.85rem;
    color: #afafaf;
  }

  h2 {
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: capitalize;
  }

  h3 {
    font-weight: bold;
    font-size: 0.85rem;
  }

  ul {
    li {
      color: #afafaf;
      font-size: 0.9rem;

      &:first-of-type {
        color: $base-green;
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 0.2rem;
      }
    }
  }

  @include respond(desktop) {
    background-color: transparent;
    box-shadow: none;
  }
}
