@import "../../assets/css/colors";

.Button {
  padding: 15px 10px;
  border-radius: 3px;
  width: 100%;
  box-shadow: 5px 11px 20px rgba(0, 0, 0, 0.06);
  font-weight: bold;

  &:hover,
  &:active {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.03);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
