@import "../../../../assets/css/colors";

.SwiperContainer {
  width: 100%;
  max-width: 325px;
  margin-top: 25px;
}

.SwiperPrev,
.SwiperNext {
  display: inline-block;
  color: #fff;
  background-color: $base-green;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  width: 30px;
  height: 30px;
  z-index: 10;
  cursor: pointer;

  svg {
    position: relative;
    top: 3.2px;
    left: 2.5px;
  }
}

.SwiperPrev {
  left: 0;
}

.SwiperNext {
  right: 0;
}
