@import "../../../assets/css/colors";

.Modal {
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  max-width: 34rem;
  max-height: 100vh;
  margin: 0 auto;
  outline: 0;
  overflow: auto;
  position: relative;
  padding: 30px 30px 50px;
  overscroll-behavior: contain;
}

.ModalContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: 40px 0 20px;
  align-items: center;

  button {
    margin-top: 15px;
    max-width: 20rem;
  }

  h2 {
    color: $secondary-green;
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 600;
  }
}

.Close {
  margin-top: 0 !important;
  color: $secondary-green;
  top: 1.5rem;
  right: 1.5rem;
  position: absolute;
}

.InfoModal {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 1rem;
    margin-bottom: 15px;
  }
}
